{% macro render_person(obj) %}
    <div class="basecamp-person">
        <div class="wrapper">
            <p><strong>{{ obj['name'] }}</strong></p>
            <img src="{{ obj['avatar_url'] }}" style="float:none;" />
        </div>
    </div>
    <hr />
{% endmacro %}

{% macro render_todo(todo) %}
    <h2>{{ todo.content }}</h2>
    <table border="0">
        {% for itm in todo %}
            {% if itm == 'creator' %}
                <p>This todo was created by:
                {{ render_person(todo[itm]) }}
                </p>
            {% else %}
                {% if todo[itm] != False and todo[itm] != None %}
                    {% if itm == 'comments' %}
                        <h3><strong>Comments</strong></h3>
                        {% for comment in todo[itm] %}
                            {{ render_comment(comment) }}
                        {% endfor %}
                    {% elif itm == 'subscribers' %}
                        {{ render_subscribers(todo[itm]) }}
                    {% else %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}
 
{% macro render_todo_link(num) %}
    <a href="/task/{{ num }}">Go to task page</a>
{% endmacro %}

{% macro render_todos_link() %}
    <a href="{{ url_for('tasks') }}">go back to tasks page</a>
{% endmacro %}
    
{% macro render_comment(comment) %}
   <p> {{ comment.creator['name'] }} Says:</p>
   <p>{{ comment.content|safe }}</p>
{% endmacro %}

{% macro render_subscribers(subs) %}
    <p>Subscribers</p>
    <ul>
    {% for sub in subs %}
        <li>{{ sub.name }}</li>
    {% endfor %}
    </ul>
{% endmacro %}
